<!DOCTYPE html>
<html>
  <head>
    <title><%= role %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1><%= role %></h1>
    <p>Welcome, <%= name %></p>
    <h2>Activities:</h2>
    <ul>
        <% list.forEach(function(i) { %>
            <li> <%= i %> </li>
        <% }); %>
    </ul>
  </body>
</html>
