<!DOCTYPE html>
<html>
  <head>
    <title>Users</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h2>List of users:</h2>
    <ul>
        <% users.forEach(function(i) { %>
            <li> <%= i %> </li>
        <% }); %>
    </ul>
  </body>
</html>
